html,
button,
input,
select,
textarea {
	font-family: "aktiv-grotesk", sans-serif;
	color: #333447;
}

html,
.fullheight {
	height: 100%;
}

html {
	background: radial-gradient(farthest-corner at 70% 70%, #fdfcf7 0%, #f8f5ed 100%);
}

.btn {
	background-color: #007172;
	color: #FFF;
	border: none;
	padding: 0.4rem 1.5rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;
	box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.1);
}

.btn:hover {
	background-color: #006466;
}

.btn:focus {
	outline: solid 2px #007172;
	outline-offset: 2px;
}

.btn-danger {
	background-color: #D94F04;
}

.btn-danger:hover {
	background-color: #c84904;
}

.btn-danger:focus {
	outline-color: #D94F04;
}

input {
	outline: solid 2px transparent;
	outline-offset: none;
	padding: 0.4rem;
	border-radius: 0.3rem;
	border: solid 1px lightgrey;
	box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.05);
}

input:focus {
	outline: solid 1px #007172;
	border: solid 1px #007172;
}


.section-title {
	color: #025259;
	font-size: 1.4rem;
	font-weight: 400;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row > * {
	flex: 0 0 auto;
	width: 100%;
	max-width: 100%;
}

.flex-row.justify-center, .flex-column.justify-center {
	justify-content: space-around;
}
.flex-row.align-middle, .flex-column.align-middle {
	align-items: middle;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
	flex: 0 0 auto;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
}
.col {
	flex: 1 0 0;
}

.col-12 {
	width: 100%;
}
.col-11 {
	width: 91,66666667%;
}
.col-10 {
	width: 83.33333333%
}
.col-9 {
	width: 75%
}
.col-8 {
	width: 66,66666667%
}
.col-7 {
	width: 58,33333333%
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 41,66666667%;
}
.col-4 {
	width: 33,33333333%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16,66666667%
}
.col-1 {
	width: 8.33333333%
}
